@using DataLibrary.Models
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
        <div class="front_part">
            <div class="front_part_item">
                <div class="front_part_welcome_text">
                    <div class="front_part_quote_1"><span class="front_part_quote_capital_letter">Step</span> into Teyvat,  </div>
                    <div class="front_part_quote_2"><span class="orange_text">a</span> vast world teeming with life</div>
                    <div class="front_part_quote_3">and flowing with elemental energy.</div>
                </div>
            </div>
        </div>
        <div class="image_part">
            <div class="image_part_text">Wallpaper gallery</div>
            <table class="lightbox_table">
                <tr>
                    @{
                        foreach (var images in ViewBag.genshinImages)
                        {
                            <td class="lightbox_image"><a href="@Url.Content(@images)" data-lightbox="roadtrip"><img src="@Url.Content(@images)"></a></td>
                        }
                    }
                </tr>
                <tr>
                    @{
                        foreach (var images in ViewBag.genshinImages_center)
                        {
                            <td class="lightbox_image"><a href="@Url.Content(@images)" data-lightbox="roadtrip"><img src="@Url.Content(@images)"></a></td>
                        }
                    }
                </tr>
            </table>
        </div>
        <div class="newly_released_char_part">
            <h1>Newly Released Characters</h1>
            <table class="newly_released_char_table">
                @{
                    foreach (CharacterModel data in ViewBag.recentCharacter)
                    {
                        <tbody>
                            <tr class="newly_released_char_table_row">
                                <td>
                                   <div class="newly_released_char_images">
                                      <img src="@data.Image" />
                                   </div>
                                </td>
                                <td>
                                    <div class="newly_released_char_text_wrap">
                                        <div class="newly_released_char_name">
                                            <span>Name:</span> <br /> @data.Name
                                        </div>
                                        <div>
                                            <span>Rarity:</span> <br /> @data.Rarity
                                        </div>
                                        <div>
                                            <span>Element:</span> <br /> @data.Element
                                        </div>
                                        <div>
                                            <span>Affiliation:</span> <br /> @data.Allegiance
                                        </div>
                                        <div class="newly_released_char_description">
                                            <span>Description:</span> <br /> @data.Description
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        /* Used for breaking up the tbody into separate parts. */
                        <tr>
                            <td><br /></td>
                        </tr>
                    }
                }
            </table>
        </div>
        <div class="genshin_history_part">
            <div class="history_left_section">
                <h1>Genshin Impact The Beginning</h1>
                
                   @{
                    <p>@TempData["Item"].ToString()</p>
                   }
                
            </div>
            <div class="history_right_section"></div>
        </div>
        <div class="end_part_index">

        </div>
</div>
